{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{%- block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}">
{%- endblock head %}


{% block page_content %}
<div class="page-header">
    <h1>register page</h1>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{{ wtf.quick_form(form) }}
{% endblock %}
